.my_page_wrapper{
  width: 960px;
  margin: 0 auto;
  margin-top: 100px;
}

.my_page_title{
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.my_page_nav{
  width: auto;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}


.my_page_nav .my_page_nav_button{
  width: 300px;
  height: 200px;
  border: 1px solid grey;
  background-color: white;
  font-weight: bold;
  float: left;
  margin-right: 10px;
}

.my_page_nav .my_page_nav_button a{
  text-decoration: none;
  color: #4C4C4C;
}

.my_page_nav .my_page_nav_button a:hover{
  color: #123478;
}

.my_page_nav_btn_text{
  margin-top: 50px;
  height: 100px;
}
